@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
  background-color: #192A32;
  color: #A8BEC9;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

.logo-wrapper {
  margin: 15px;
  display: flex;
  font-size: 30px;
  justify-content: space-between;
}

.logo {
  margin-inline-start: 5px;
  display: flex;
  align-items: center;
}

.square {
  inline-size: 120px;
  /*width*/
  block-size: 120px;
  border: none;
  border-radius: 10px;
  font-weight: 400;
  background-color: white;
  cursor: pointer;
  margin: 15px;
  font-size: 3rem;
  
}

.upper-square {
  inline-size: 120px;
  /*width*/
  block-size: 120px;
  border: none;
  border-radius: 10px;
  font-weight: 400;
  background-color: white;
  cursor: pointer;
  margin: 15px;
  font-size: 15px;
  
}

.score-wrapper {
  inline-size: 120px;
  /*width*/
  border: 2px solid black;
  border-radius: 10px;
  color: black;
  font-weight: 600;
  margin: 15px;
  display: flex;
  flex-direction: column;
}

.score {
  color: black;
  text-align: center;
}

.redo-button {
  border-radius: 7px;
  background-color: #30C4BE;
  border: 1px solid black;

}

.board {
  display: flex;
  flex-wrap: wrap;
  inline-size: 450px;
  block-size: 450px;
}

.status-upper {
  margin-block-end: 10px;
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
}

.status-bottom {
  display: flex;
  margin: 50px 0px 50px 0px;
}

.game {
  display: flex;
  justify-content: center;
  margin-block-start: 100px;
  margin-inline-start: 200px;
}

/* Responsive Design */
@media (max-width: 600px) {
  .logo-wrapper {
    font-size: 20px;
    margin: 15px;
  }

  .square {
    inline-size: 80px;
    block-size: 80px;
    font-size: 2rem;
  }

  .board {
    block-size: 350px;
  }

  .game-board {
    inline-size: 400px;
  }

  .game {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  .board {
    inline-size: 330px;
    max-block-size: 300px;
    grid-template-columns: repeat(3, 1fr);
    font-size: 10px;
    margin: auto;
  }

  .score-wrapper {
    inline-size: 80px;
    block-size: 70px;
    font-size: 14px;
  }

  .redo-button {
    inline-size: 160px;
    block-size: 35px;
    font-size: 14px;    
  }

  .status-bottom {
    display: flex;
    justify-content: space-evenly;
  }  
}